<% include ./head.ejs %>
<link rel="stylesheet" href="/stylesheets/footer.css" />
<head>
  <body>
    <section class="footer_section">
      <div class="footer_head">
        <div class="footer_div1">
          <img src="/images/hero/mainlogo2.png" >
          <h4>RemedyBox</h4>
          <p>
            The Ultimate Guide To Ace <br />
            Our Health.
          </p>
        </div>
        <div class="footer_div2">
          <h4>MENU</h4>
          <a href="/about">About</a>
          <a href="/search">Remedies</a>
          <!-- <a href=""></a> -->
          <a href="">Contact</a>
        </div>
        <div class="footer_div3">
          <h4>Services</h4>
          <a href="">Privacy Policy</a>
          <a href="">Terms and use</a>
          <!-- <a href="">Refund & Cancellation Policy</a> -->
        </div>
        <div class="line2_div"></div>

        <div class="footer_div4">
          <h4>GET IN TOUCH</h4>
          <p>Email: <a href="">Remedy@Box.in</a></p>
        </div>
      </div>
      <div class="line3_div"></div>
      <div class="footer_bottom">
        <p>Copyright © 2024 Sorting RemedyBox Pvt Ltd. All Rights Reserved.</p>
      </div>
    </section>

    <% include ./foot.ejs %>
  </body>
</head>
