<% include ./partials/head.ejs %>
<link rel="stylesheet" href="/stylesheets/about.css">
<head>
    <body>
<% include ./partials/navigation.ejs %>
<section class="about_hero">
    <div class="hero_txt">
    <h1>ABOUT <span>US</span></h1>
    <h2>Welcome to RemedyBox</h2>
    <p>Unlocking Nature's Healing Power</p>
    <div class="p_div">
    <p>At RemedyBox, we believe in the power of natural remedies to support health and wellness. From herbal concoctions to homeopathic solutions and nutritional aids, our platform is your guide to harnessing the healing potential of nature.</p>
</div>
</div>
    
</section>
<section class="all_content">
<section class="about_rural">
    <h1><span>Empowering Rural Women:</span> Healing Hands, Empowered Hearts</h1>
    <img src="/images/hero/about rural.png" alt="">
    <div class="container_box">
        In the heartlands where nature's rhythms intertwine with daily life, rural women emerge as guardians of health and stewards of healing traditions. Their hands, weathered by toil yet tender with care, hold the keys to ancestral wisdom passed down through generations. We recognize the invaluable role of rural women in preserving and perpetuating natural remedies, often serving as the primary caregivers and healers in their communities. Yet, we also acknowledge the disparities they may face in accessing healthcare resources and information. 
    </div>
</section>
<!-- <section class="aboutimages">
    <img src="/images/hero/aboutbowl.jpg" alt="">
    
</section> -->
<section class="about_container">
    <h1>A Holistic Approach to Well-being</h1>
    <div class="container_box">
        <h1>Herbal Remedies: Nature's Pharmacy</h1>
        <ul>
               <li>Discover the rich tradition of herbal medicine.</li>
               <li>Explore the diverse world of medicinal plants and their therapeutic properties.</li>
               <li>Learn about time-tested herbal remedies for various health conditions.</li>
           
        </ul>
    </div>
    <div class="container_box">
        <h1>Homeopathic Remedies: Gentle Healing for Body and Mind  </h1>
        <ul>
            
               <li>Unveil the principles of homeopathy and its gentle approach to healing. </li>
               <li>Delve into the world of highly diluted remedies and their profound effects.</li>
               <li>Find tailored homeopathic solutions for common ailments and emotional well-being.</li>
           
        </ul>
    </div>

    <div class="container_box">
        <h1>Nutritional Remedies: Fueling Your Health from Within</h1>
        <ul>
            
               <li>Understand the vital role of nutrition in supporting overall health. </li>
               <li>Identify key nutrients and superfoods for optimal well-being..</li>
               <li>Discover how dietary adjustments can alleviate specific health concerns.</li>
           
        </ul>
    </div>


</section>

</section>

<% include ./partials/footer.ejs %>